header {
    display: flex;
    height: 80px;
    min-width: 360px;
    background-color: #8e24aa;
}

.back-button,
.search-button,
.more-button {
    background-color: #8e24aa;
    color: white;
    border: 0;
    flex-basis: 60px;
    transition: background-color 0.1s, color 0.1s;
}

.back-button:hover,
.search-button:hover,
.more-button:hover {
   background-color: #d37ceb;
   color: black;
}

.companion {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    gap: 15px;
    color: white;
    padding-left: 20px;
    align-items: center;
}

.companion-picture {
    border-radius: 50%;
}
.companion-meta {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.companion-name {
    font-weight: bold;
}

.companion-last-online {
    color: #c590d3;
}

@media screen and (max-width: 500px) {
    .companion-name {
        font-size: 15px;
    }
    .companion-last-online {
        font-size: 10px;
    }
}

@media screen and (min-width: 500px) {
    .companion-name {
        font-size: 20px;
    }
}

