.container {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evently;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;    
}

.imagePreview {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    margin-top: 10px;

}

input[type=submit] {
    visibility: collapse;
}

input[type=file] {
display: none;}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.formInput {
    border: 0;
    font-size: 15px;
    outline: none;
    height: 60px;
    padding-left: 15px;
    width: 100%;
    border-radius: 16px 0px 0px 16px;
    background-color: #1f2024;
    color: white;
}

.addDocumentBtn {
    display: flex;
    color: #6e6e6e;
    background-color: #1f2024;
    border: 0;
    flex-basis: 60px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s, color 0.1s;
}

.addAudioBtn {
    color: #6e6e6e;
    border-radius: 0px 16px 16px 0px;
    background-color: #1f2024;
    border: 0;
    flex-basis: 60px;
    transition: background-color 0.1s, color 0.1s;
}

.addDocumentBtn:hover, .addAudioBtn:hover {
   background-color: #d37ceb;
   color: black;
}
