.form {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evently;
    width: 100%;
    margin-bottom: 10px;
    // border-top: 1px solid #dedede;
    
}

input[type=submit] {
    visibility: collapse;
    
}

.formInput {
    border: 0;
    font-size: 15px;
    outline: none;
    height: 60px;
    padding-left: 15px;
    width: 100%;
    border-radius: 16px 0px 0px 16px;
    background-color: #1f2024;
    color: white;
}

.addDocumentBtn {
    color: #6e6e6e;
    border-radius: 0px 16px 16px 0px;
    background-color: #1f2024;
    border: 0;
    flex-basis: 60px;
    transition: background-color 0.1s, color 0.1s;
    
}

.addDocumentBtn:hover {
   background-color: #d37ceb;
   color: black;
}
