.form {
    display: flex;
    flex-direction: row;
    justify-content: space-evently;
    width: 100%;
    border-top: 1px solid #dedede;
}

input[type=submit] {
    visibility: collapse;
}

.form-input {
    border: 0;
    font-size: 15px;
    outline: none;
    height: 60px;
    padding-left: 15px;
    width: calc(100% - 2px);
}

.add-document-btn {
    background-color: white;
    color: #6e6e6e;
    border: 0;
    padding-right: 15px;
    flex-basis: 60px;
    transition: background-color 0.1s, color 0.1s;
}

.add-document-btn:hover {
   background-color: #d37ceb;
   color: black;
}
