header {
    display: flex;
    height: 80px;
    background-color: #8e24aa;
}

.application-name {
    flex-grow: 1;
    display: flex;
    color: #ffffff;
    align-items: center;
    padding-left: 10px;
}

.burger-button,
.search-button {
    background-color: #8e24aa;
    color: #ffffff;
    border: 0;
    flex-basis: 60px;
    transition: background-color 0.1s, color 0.1s;
}

.burger-button:hover,
.search-button:hover {
   background-color: #d37ceb;
   color: black;
}
