.container {
    display: flex;
    justify-content: center;
}

.searchField {
    width: 95%;
    border: 0;
    font-size: 15px;
    height: 60px;
    padding-left: 15px;
    border-radius: 16px 16px 16px 16px;
    background-color: #101315;
    color: white;
}
