html {
  box-sizing: border-box;
  font-family: Roboto;
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root, .body {
    display: flex;
    margin: 0;
    background-color: white;
}