.header {
    display: flex;
    height: 80px;
    min-width: 360px;
    background-color: #101315;
    border-bottom: 1px solid #25272e;
}

.backButton,
.searchButton,
.moreButton {
    background-color: #101315;
    color: white;
    border: 0;
    flex-basis: 60px;
    transition: background-color 0.1s, color 0.1s;
}

.backButton:hover,
.searchButton:hover,
.moreButton:hover {
   background-color: #d37ceb;
   color: black;
}

.companion {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    gap: 15px;
    color: white;
    align-items: center;
}

.companionPicture {
    border-radius: 50%;
}
.companionMeta {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.companionName {
    font-weight: bold;
}

.companionLastOnline {
    color: #7f91a3;
}

@media screen and (max-width: 500px) {
    .companionName {
        font-size: 15px;
    }
    .companionLastOnline {
        font-size: 10px;
    }
}

@media screen and (min-width: 500px) {
    .companionName {
        font-size: 20px;
    }
}
