$mainBackground: #101315;
$sigeBackground: #17191d;

$chatBodyBackground: $mainBackground;
$chatBodyMessageBgRight: #272831;
$chatBodyMessageBgLeft: #2294ff;
$chatBodyMessageTextColor: #ffffff;
$chatBodyReadStateColor: #ffffff;
$chatBodyAuthorColor: #ffffff;
$chatBodyMessageDateColor: #787179;

$profileBodybackground: $sigeBackground;