html {
  box-sizing: border-box;
  font-family: Roboto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

#root, .body {
    display: flex;
    /* margin: 0; */
    background-color: white;
}